@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', monospace;
  min-block-size: 100vh;
  color: #e6e5ea;
  background: linear-gradient(to bottom, #14131b, #08070b);
}

.slider {
  block-size: 0.5rem;
  margin: 0.625rem 0;
  background: linear-gradient(to right, #a4ffaf 50%, #18171f 50%);
  appearance: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  inline-size: 1.75rem;
  block-size: 1.75rem;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 250ms;
  cursor: grab;
  background-color: #e6e5ea;
  appearance: none;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover {
  border-color: #a4ffaf;
  background-color: #18171f;
}

.slider::-webkit-slider-thumb:active,
.slider::-moz-range-thumb:active {
  cursor: grabbing;
}
